:root {
  --bg-primary: #FFFFFF;
  --bg-secondary: #F7F7F7;

  --text-white: #FFFFFF;

  --text-light-primary: #888888;
  --text-light-secondary: #F7F7F7;

  --text-dark-primary: #121212;
  --text-dark-secondary: #363636;

  --orange-primary: #F46F17;
}

/*

penultimate section fluvi logo, numbers in progress fluvi F7F7F7

text FFFFFF

link bottom, bottom email, text block, title block, subtitle section, title section 363636

small text 888888

small title in block 121212

color text, color title F46F17
*/